.cart-sizing{
    background-color: #f3f3fb9b;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
.button-style{
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 25px;
    
    background-color: chocolate;
    border-radius: 20px;
    cursor: pointer;
}
.button-style:hover{
    box-shadow: 1px 2px 5px;
}