.cart-sizing{
    background-color: #f3f3fb9b;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.cart-sizing:hover{
    box-shadow: 1px 2px 5px;
}

.button-style{
    width: 120px;
    background-color: #ff7a05;
    border-radius: 20px;
    cursor: pointer;
}
.button-style:hover{
    box-shadow: 1px 2px 5px;
}